.container {
    padding: 5em 2em;
}
.col-sm {
    display: inline-flex;
}
input {
    margin-top: 1em !important;
}
.success-btn {
    background-color: #fff !important;
    margin: 1em !important;
}
.to-do-container {
    padding: 5em 2em;
    border: 1px solid #eee;
    border-radius: 15px;
    background-color: #ffffff;
    margin-top: 5%;
    -webkit-box-shadow: 10px 10px 37px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px -24px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 37px -24px rgba(0,0,0,0.75);
}
