@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

h1,h3,h4,h5,h6,span {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.default-btn {background-color: #ffffff !important; width: 100%}
